{% extends "base.html" %}

{% block title %}Užduoties info{% endblock %}

{% block content %}
<h1>Mano  užduoties info:</h1>
{% load static %}

{% if uzduotis.vartotojas == user %}
<p><b>Vartotojas: </b>{{ uzduotis.vartotojas}}</p>
<p><b>Užduoties pavadinimas: </b>{{ uzduotis.pavadinimas}}</p>
<p><b>Užduoties aprašymas: </b>{{ uzduotis.aprasymas}}</p>
<p><b>Užduoties data: </b>{{ uzduotis.data }}</p>
<p><b>Užduoties būsena: </b>{{ uzduotis.get_status_display }}</p>

<hr>

<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'uzduotis_redaguoti' object.id %}">Redaguoti</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'uzduotis_trinti' object.id %}">Ištrinti</a>
</div>

{% endif %}

{% endblock %}



